---
import OverviewLayout from "../layouts/OverviewLayout.astro";
import CardOverview from "../components/CardOverview.astro";
import CatFilterButtons from "../components/CatFilterButtons.astro";
import ShowMore from "../components/ShowMore.astro";
import "../styles/overview.css";
import "../styles/general.css";

// Fetch data from Supabase
const url = await fetch("https://iquwaksrvuailrbwzeqm.supabase.co/rest/v1/painting", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxdXdha3NydnVhaWxyYnd6ZXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MDgyNzEsImV4cCI6MjAzMTE4NDI3MX0.TAN2h-nqq62fwRfrJesymEvsWNpJv_HsJnaiA0kzups",
  },
});

fetch(url)
  .then((response) => response.json())
  .then(showLists);

function showLists(paintings) {
  console.log(paintings); // Add this line
  paintings.forEach(showList);
}

function showList(painting) {
  console.log(painting);
}
---

<OverviewLayout title="WEBSHOP">
  <div class="start-text1">
    <h1>WEBSHOP</h1>
    <img src="img/flower.webp" alt="flower illustration" />
  </div>
  <div class="start-text2">
    <p>
      Velkommen til min webshop! Træd ind i en verden af unikke <br /> kunstværker, skabt med kærlighed og passion. Udforsk en samling <br /> af malerier,
      der fanger øjet og berører sjælen. Hvert stykke er en <br />
      fortælling, en rejse, og en unik skat at tage med hjem.
    </p>
  </div>
  <div class="btn">
    <CatFilterButtons />
  </div>
  <div class="cards_list">
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
    <CardOverview name={painting.name} />
  </div>
  <div class="show_more">
    <ShowMore />
  </div>
</OverviewLayout>
